/* General Settings */

:root {
    --principalBlack: #1E1E1E;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
}

body {
    transition: .5s ease all;
}

body.dark {
    background: var(--principalBlack);
}

/* Container Settings */

.container {
    position: relative;
    width: 400px;
    height: 630px;
    position: relative;
    margin: 150px auto;
    border-radius: 60px;
    background: #ffffff;
    box-shadow:  21px 21px 42px  #b0b0b083,
             5px -3px 42px #ffffff00;
}

body.dark .container {
    border-radius: 60px;
    background: #1e1e1e;
    box-shadow:  21px 21px 42px #12121273,
                 -21px -21px 42px #2a2a2a65;
    transition: .5s ease all;
}

.points {
    display: flex;
    position: relative;
    top: 70px;
    justify-content: space-between;
    width: 85%;
    height: 20px;
    margin: 2px auto;
}

.points_style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

body.dark .points_style {
    color: white;
    transition: .5s ease all;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    border-radius: 60px 60px 0 0;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.37);
}

body.dark .header {
    background: rgba( 30, 30, 30, 0.50 );
    box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
    transition: .5s ease all;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 80px;
    margin-left: 50px;
    background-image: url(./assets/logoBlack.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body.dark .logo {
    background-image: url(./assets/logoWhite.png);
    transition: .5s ease all;
}

.heroCircle {
    width: 250px;
    height: 250px;
    margin: 30px auto;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: inset 21px 21px 42px #b0b0b0,
            inset -21px -21px 42px #ffffff;
}

body.dark .heroCircle {
    border-radius: 200px;
background: #1e1e1e;
box-shadow: inset 35px 35px 70px #0f0f0f,
            inset -35px -35px 70px #2d2d2d;
    transition: .5s ease all;
}

.heroCircle p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    width: 100%;
    height: 100%;
    transition: 1s ease all;
}

.content {
    width: 280px;
    height: 150px;
    margin: 10px auto;

}

.messege {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 0 auto;
}

body.dark .messege {
    color: white;
    transition: .5s ease all;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 35px auto;
}

.btnCss {
    width: 60px;
    height: 60px;
    font-size: 2.5rem;
    border-radius: 50%;
    border-style: none;
    background: #ffffff;
    box-shadow:  6px 6px 12px #b0b0b0,
             -6px -6px 12px #ffffff;
    transition: .5s ease all;
    outline: none;
    cursor: pointer;
}

.btnCss:hover {
    background: #dfdddd;
    transition: .8s ease all;
}

body.dark .btnCss {
    background: linear-gradient(145deg, #202020, #1b1b1b);
    box-shadow:  8px 8px 21px #111111,
             -8px -8px 21px #2c2c2c;
    /* transition: .1s ease all; */
}

body.dark .btnCss:hover{
    background: #202020;
    transition: .8s ease all;
}
.containerDown {
    display: flex;
    justify-content: space-between;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    width: 40%;
    height: 35px;
    margin: 15px auto;
    border-style: none;
    cursor: pointer;
    border-radius: 20px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  10px 10px 60px #a7a6a6,
             -10px -10px 60px #ffffff;
    outline: none;
}

.play:hover {
    background: #ffffff;
    /* transition: .8s ease all; */
}

body.dark .play {
    background: linear-gradient(145deg, #202020, #1b1b1b);
    box-shadow:  10px 10px 29px #181818,
             -10px -10px 29px #242424;
    color: white;
    transition: .5s ease all;
}

body.dark .play:hover {
    background: #252525;
    /* transition: .8s ease; */
}

body.press {
    background: #dfdddd;
}

/* SWITCH */

.switch {
    background: var(--principalBlack);
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    width: 75px;
    height: 35px;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;

}

.switch::after {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
    background: orange;
}

.switch.active::after{
    right: 0;
    left: unset;
}

.switch img {
    width: 20px;
    height: 20px;
    margin: 0 8px 0 8px;
    line-height: 25px;
    display: block;
    background: none;
}

/* CIRCLES */

.circles {
    /* position: absolute; */
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
}

#c1 {
    position: absolute;
    background-image: linear-gradient(to right, #FF0A6C, #2D27FF);
    bottom: 65%;
    left: 50%;
    opacity: 0.7;
    z-index: -1;
}

#c2 {
    position: absolute;
    top: 65%;
    left: -25%;
    opacity: 0.7;
    background-image: linear-gradient(to right, #FF0A6C, #2D27FF);
    z-index: -1;
}